<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Example</title>
	<style>
		.user{
			height: 260px;
			width: 250px;
			display: inline-block;
			outline: 1px solid black;
			text-align: center;
		}
			.user img{
				width: 100%;
				height: 200px;
			}
	</style>
</head>
<body>
	<form action="/users" enctype="multipart/form-data" method="post">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="age" placeholder="Age">
		<input type="file" name="upload" placeholder="Profile Picture">
		<input type="submit" value="Add">
	</form>
	<h2>Registered Users</h2>
<% 	for (var x in users){ %>
			<div class="user">
				<h4>Name: <%= users[x].name %> -----  Age: <%= users[x].age %></h4>
				<img src="<%= users[x].photo %>" alt="profile picture">
			</div>
<% 	} %>
</body>
</html>